<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167865996351-6lql18hv1ph8s33rlrsgq6sd5m76tf0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167865996351-6lql18hv1ph8s33rlrsgq6sd5m76tf0g</string>
	<key>API_KEY</key>
	<string>AIzaSyD-oRUqQqdrl-7AS4p5OzvyCn8OY8FAb6s</string>
	<key>GCM_SENDER_ID</key>
	<string>167865996351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcn-erp.ng</string>
	<key>PROJECT_ID</key>
	<string>rch-hymn-7e0f9</string>
	<key>STORAGE_BUCKET</key>
	<string>rch-hymn-7e0f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167865996351:ios:167d1a7b995583373fd48a</string>
	<key>DATABASE_URL</key>
	<string>https://rch-hymn-7e0f9.firebaseio.com</string>
</dict>
</plist>